{% extends "base.twig" %}

{% block content %}


	<h2 class="mb-4">{{ title }}</h2>

	<h3>
		<a class="btn btn-success my-3" href="/users/add">Ajouter un utilisateur</a>
	</h3>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		{% for user in users %}

			<div class="col">
				<div class="card h-100 shadow-sm">
					<div class="card-body">
						<div class="d-flex gap-3">
							<h3 class="card-title">{{ user.login}}</h3>
							<a class="btn btn-warning" href="/users/update/{{user.id}}">Modifier</a>

							<a class="btn btn-danger" href="/users/delete/{{user.id}}">Supprimer</a>

						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<span class="fw-bold">ID :</span>
								{{ user.id }}</li>

							<li class="list-group-item">
								<span class="fw-bold">Password :</span>
								{{ user.password}}</li>

							<li class="list-group-item">
								<span class="fw-bold">Email :</span>
								{{ user.email}}</li>

							<li class="list-group-item">
								<span class="fw-bold">Date de création :</span>
								{{ user.createdAt}}</li>

						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
